.filters {
  display: flex;
  gap: var(--bosluk);

  .field {
    margin-bottom: 0;
    min-width: 200px;
  }
}

.stats {
  display: flex;
  gap: var(--bosluk);
  margin: var(--bosluk) 0;
}

app-card {
  display: block;
  margin-bottom: var(--bosluk);
}
