.filters {
  display: flex;
  gap: var(--bosluk);
  align-items: flex-end;
  flex-wrap: wrap;

  .field {
    margin-bottom: 0;
    min-width: 160px;
  }
}

.stats {
  display: flex;
  gap: var(--bosluk);
  margin: var(--bosluk) 0;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: var(--bosluk);
}

app-card {
  display: block;
}
